
/*clase para los botones*/
/*boton cojido https://www.bestcssbuttongenerator.com/#/9 */
.boton{
    color: white;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	border:1px solid #942911;
	padding:6px 24px;
	text-shadow:0px 1px 0px #854629;
	margin-bottom: 0px;
}

.boton:hover {
	background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
	background-color:#bc3315;
}

.botonera :only-child{
    border-radius:3px 3px 3px 3px;
}
.botonera :first-child{
    border-radius:3px 0px 0px 3px;
}
.botonera :last-child{
    border-radius:0px 3px 3px 0px;
}




/*menu desplegable*/
/*menu que despliega opciones cuando pasamos el raton por encima*/
/*https://codepen.io/samanthablackes/pen/weKRLV*/

/*.desplegable{*/
/*    margin:0;*/
/*}*/

.desplegable, .desplegable li ul {
	list-style:none;
	margin:0;
	padding:0;
}

.desplegable  a {
	display:block;
}

.desplegable  li {
	position:relative;
	float:left;
}

.desplegable  ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	padding:0;
}

.desplegable  ul li {
	float:none;
}

.desplegable li:hover > ul {
	display:block;
}


/* https://enjoycss.com/1asf/code/#border */
.input {
  display: inline-block;
  box-sizing: content-box;
  margin: 15px;
  padding: 10px;
  border: 1px solid rgba(25,4,4,1);

  border-radius: 15px;
  font: normal 16px/normal "Times New Roman", Times, serif;
  color: rgba(0,142,198,1);
 
  text-overflow: clip;
 
  box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.4) ;
  text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
  
  /*transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);*/
}