
/*clase para los botones*/
.boton{
    color: white;
	box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	border:1px solid #942911;
	cursor:pointer;
	font-size:13px;
	padding:6px 24px;
	text-shadow:0px 1px 0px #854629;
}

.botonera :only-child{
    border-radius:3px 3px 3px 3px;
}

.botonera :first-child{
    border-radius:3px 0px 0px 3px;
}
.botonera :last-child{
    border-radius:0px 3px 3px 0px;
}

